---
import Icon from "astro-icon";
import "./styles.scss";
---

<main>
  <section>
    <div class="headingContainer">
      <h1>
        4<Icon class="heartIcon" name="brokenHeartIcon" />4
      </h1>
      <h2>Sorry, page not found :(</h2>
    </div>
    <a href="/">Go back</a>
  </section>
</main>
