---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zvonimir Prpic - Frontend Developer - About Page">
  <main>
    <section>
      <article>
        <h2>About This Project</h2>
        <p>
          This project was made out of <a
            href="https://astro.build/"
            target="_blank">technical curiosity</a
          >, <a
            href="https://www.linkedin.com/in/zvonimirprpic/"
            target="_blank">business reasons</a
          > and <a
            href="https://github.com/zvonimirprpic/zvonimirprpic.github.io"
            target="_blank">skill demonstration</a
          >.
        </p>
      </article>
      <article>
        <h2>About This (Extra) Page</h2>
        <p>
          This page was specifically made to explore <a
            href="https://docs.astro.build/en/core-concepts/astro-pages/"
            >Astro's routing</a
          >.
        </p>
      </article>
    </section>
  </main>
</Layout>
