<div class="textContainer">
  <h3>Hello<span>!</span></h3>
  <div class="animationContainer">
    <h1 id="start">I Am</h1>
    <h1 id="text"></h1>
    <h1>|</h1>
  </div>
  <script src="../scripts/typingAnimation.js"></script>
</div>
