@use "styles/variables/breakpoints" as *;

.textContainer {
  text-align: center;
  letter-spacing: 2px;
  .animationContainer {
    text-align: center;
    h1 {
      font-size: 1.25rem;
      color: var(--flare);
      @media only screen and (min-device-width: $tablet) {
        font-size: 2.5rem;
      }
      @media only screen and (min-device-width: $desktop) {
        font-size: 4rem;
      }
    }
    h1:first-of-type {
      color: var(--text-color);
    }
    h1:last-of-type {
      animation: type 1s infinite;
      color: var(--text-color);
    }
    @keyframes type {
      to {
        opacity: 0;
      }
    }
  }
  h3 {
    font-size: 1rem;
    @media only screen and (min-device-width: $tablet) {
      font-size: 1.5rem;
    }
    @media only screen and (min-device-width: $desktop) {
      font-size: 2rem;
    }
    span {
      color: var(--flare);
    }
  }
}
