---
import "./styles.scss";
---

<footer>
  <p class="footerText">© 2024, Zvonimir Prpic</p>
  <span class="footerAddendum"
    >Made with <span class="heart">&#10084;</span> in Croatia</span
  >
</footer>
