@use "styles/variables/breakpoints" as *;
@use "styles/variables/spacings" as *;

footer {
  flex: 0;
  display: flex;
  gap: $small-gap;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
