@use "mixins" as *;

footer {
  text-align: right;
  p {
    border-bottom: 1px solid var(--flare);
    font-size: 0.75rem;
    @include isTablet() {
      font-size: 1rem;
    }
  }
  span {
    font-size: 0.6rem;
    @include isTablet() {
      font-size: 0.75rem;
    }
    .heart {
      color: var(--flare);
    }
  }
}
