:root {
  // Dark
  --text-color-dark: #fff;
  --button-background-color-dark: transparent;
  --button-text-color-dark: #fff;
  --background-color-dark: #081131;
  --flare-filter-dark: brightness(0) saturate(100%) invert(87%) sepia(97%)
    saturate(5839%) hue-rotate(287deg) brightness(104%) contrast(105%);

  // Light
  --text-color-light: #565656;
  --button-background-color-light: transparent;
  --button-text-color-light: #b6fff4;
  --background-color-light: #fff;
  --flare-filter-light: brightness(0) saturate(100%) invert(87%) sepia(97%)
    saturate(5839%) hue-rotate(287deg) brightness(104%) contrast(105%);

  //Accent
  --flare: #ffb6c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --button-text-color: var(--button-text-color-dark);
    --button-background-color: var(-button-background-color-dark);
    --background-color: var(--background-color-dark);
    --flare-filter: var(--flare-filter-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --button-text-color: var(--button-text-color-light);
    --button-background-color: var(-button-background-color-light);
    --background-color: var(--background-color-light);
    --flare-filter: var(--flare-filter-light);
  }
}

[color-scheme="dark"] {
  --text-color: var(--text-color-dark);
  --button-text-color: var(--button-text-color-dark);
  --button-background-color: var(-button-background-color-dark);
  --background-color: var(--background-color-dark);
  --flare-filter: var(--flare-filter-dark);
}

[color-scheme="light"] {
  --text-color: var(--text-color-light);
  --button-text-color: var(--button-text-color-light);
  --button-background-color: var(-button-background-color-light);
  --background-color: var(--background-color-light);
  --flare-filter: var(--flare-filter-light);
}
