@use "mixins" as *;

html {
  height: -webkit-fill-available;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  padding: var(--small-padding);
  transition: all 400ms;
  @include isTablet() {
    padding: var(--medium-padding);
  }
}
