@use "mixins" as *;

html {
  overflow: hidden;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: var(--small-padding);
  transition: all 400ms;
  @include isTablet() {
    padding: var(--medium-padding);
  }
}
