:root {
  --flare-filter-dark: brightness(0) saturate(100%) invert(87%) sepia(97%)
    saturate(5839%) hue-rotate(287deg) brightness(104%) contrast(105%);
  --text-color-dark: #fff;
  --button-background-color-dark: transparent;
  --button-text-color-dark: #fff;
  --background-color-dark: #081131;
}
