@use "variables/spacings.scss" as *;
@use "variables/breakpoints.scss" as *;

html {
  height: -webkit-fill-available;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  padding: var(--small-padding);
  @media only screen and (min-device-width: $tablet) {
    padding: var(--medium-padding);
  }
  header {
    flex: 0;
    width: 100%;
    nav {
      display: flex;
      /* justify-content: space-between; */
      padding: 0;
      width: 100%;
      ul {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: var(--large-gap);
      }
    }
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    section {
      width: 100%;
      display: flex;
      gap: var(--medium-gap);
      flex-direction: column;
      align-items: flex-start;
      @media only screen and (min-device-width: $tablet) {
        gap: 0px;
      }
      & > * {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      article {
        flex-direction: column;
        margin: var(--medium-margin);
        gap: var(--small-gap);
      }
      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .animationContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: var(--small-gap);
          @media only screen and (min-device-width: $tablet) {
            gap: var(--medium-gap);
          }
        }
      }
      .linksContainer {
        gap: var(--medium-gap);
        align-items: center;
        justify-content: center;
        img {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
      .buttonsContainer {
        flex-direction: column;
        gap: var(--small-gap);
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        @media only screen and (min-device-width: $tablet) {
          flex-direction: row;
          gap: var(--medium-gap);
        }
        a {
          width: 200px;
          padding: var(--small-padding) var(--medium-padding);
        }
      }
    }
  }
  footer {
    flex: 0;
    display: flex;
    gap: var(--small-gap);
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  #notFoundContainer {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--large-gap);
      .headingContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--small-gap);
        h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10rem;
          margin-bottom: -4rem;
          @media only screen and (min-device-width: $tablet) {
            font-size: 20rem;
          }
          .heartIcon {
            height: 150px;
            width: 150px;
            @media only screen and (min-device-width: $tablet) {
              height: 325px;
              width: auto;
            }
          }
        }
        h2 {
          margin-top: 32px;
          @media only screen and (min-device-width: $tablet) {
            margin-top: 0px;
          }
        }
      }
      a {
        font-size: 2rem;
        @media only screen and (min-device-width: $tablet) {
          font-size: 3rem;
        }
      }
    }
  }
}
