:root {
  --flare-filter-light: brightness(0) saturate(100%) invert(87%) sepia(97%)
    saturate(5839%) hue-rotate(287deg) brightness(104%) contrast(105%);
  --text-color-light: #565656;
  --button-background-color-light: transparent;
  --button-text-color-light: #b6fff4;
  --background-color-light: #fff;
}

// Light theme vars are not finished.
