@use "variables/colors.scss" as *;
@use "variables/typography.scss" as *;
@use "variables/breakpoints.scss" as *;

body {
  --flare: var(--flare-light);
  --text-color: var(--text-color-light);
  --button-text-color: var(--button-text-color-light);
  --button-background-color: var(--button-background-color-light);
  --button-outline-color: var(--button-outline-color-light);
  --background-color: var(--background-color-light);
  --flare-filter: var(--flare-filter-light);
  #lightswitch-on {
    display: inline;
  }
  #lightswitch-off {
    display: none;
  }
}

.dark {
  --flare: var(--flare-dark);
  --text-color: var(--text-color-dark);
  --button-text-color: var(--button-text-color-dark);
  --button-background-color: var(--button-background-color-dark);
  --button-outline-color: var(--button-outline-color-dark);
  --background-color: var(--background-color-dark);
  --flare-filter: var(--flare-filter-dark);
  #lightswitch-on {
    display: none;
  }
  #lightswitch-off {
    display: inline;
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --flare: var(--flare-dark);
    --text-color: var(--text-color-dark);
    --button-text-color: var(--button-text-color-dark);
    --button-background-color: var(--button-background-color-dark);
    --button-outline-color: var(--button-outline-color-dark);
    --background-color: var(--background-color-dark);
    --flare-filter: var(--flare-filter-dark);
    #lightswitch-on {
      display: none;
    }
    #lightswitch-off {
      display: inline;
    }
  }
}

body {
  font-family: "Nunito", sans-serif;
  transition: all 400ms;
  color: var(--text-color);
  background-color: var(--background-color);
  header {
    nav {
      svg {
        cursor: pointer;
      }
      #lightswitch-off,
      #lightswitch-on {
        fill: var(--flare);
      }
      ul {
        li {
          cursor: pointer;
          list-style: none;
          font-size: 1.2rem;
          &::before {
            content: "\2022";
            color: var(--flare);
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1em;
          }
          &:hover {
            font-weight: 600;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
  main {
    section {
      article {
        p {
          font-size: 1rem;
          @media only screen and (min-device-width: $tablet) {
            font-size: 1.25rem;
          }
        }
        a {
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 600;
          letter-spacing: 2px;
          width: auto;
          margin: 0 auto;
          position: relative;
          color: var(--flare);
          @media only screen and (min-device-width: $tablet) {
            font-size: 1.5rem;
          }

          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--flare);
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }
          &:hover:before {
            visibility: visible;
            width: 100%;
            color: var(--flare);
          }
          &:visited {
            color: var(--flare);
          }
        }
      }
      .textContainer {
        text-align: center;
        letter-spacing: 2px;
        .animationContainer {
          text-align: center;
          h1 {
            font-size: 1.25rem;
            color: var(--flare);
            @media only screen and (min-device-width: $tablet) {
              font-size: 2.5rem;
            }
            @media only screen and (min-device-width: $desktop) {
              font-size: 4rem;
            }
          }
          h1:first-of-type {
            color: var(--text-color);
          }
          h1:last-of-type {
            animation: type 1s infinite;
            color: var(--text-color);
          }
          @keyframes type {
            to {
              opacity: 0;
            }
          }
        }
        h3 {
          font-size: 1rem;
          @media only screen and (min-device-width: $tablet) {
            font-size: 1.5rem;
          }
          @media only screen and (min-device-width: $desktop) {
            font-size: 2rem;
          }
          span {
            color: var(--flare);
          }
        }
      }
      .linksContainer {
        a {
          svg {
            fill: var(--text-color);
          }
          &:active,
          &:hover {
            svg {
              -webkit-filter: var(--flare-filter);
              filter: var(--flare-filter);
            }
          }
        }
      }
      .buttonsContainer {
        a {
          text-decoration: none;
          font-size: 1.25rem;
          border-radius: 4px;
          outline: 1px solid var(--button-outline-color);
          background-color: var(--button-background-color);
          color: var(--button-text-color);
          text-align: center;
          font-weight: 400;
          transition: all 0.1s;
        }
        a:focus {
          scale: 0.98;
        }
        a:hover {
          //opacity: 0.85;
          font-weight: 800;
          outline: 2px solid var(--button-outline-color);
        }
      }
    }
  }
  footer {
    p {
      font-size: 1rem;
      border-bottom: 1px solid var(--flare);
    }
    span {
      font-size: 0.75rem;
      .heart {
        color: var(--flare);
      }
    }
  }
  #notFoundContainer {
    .headingContainer {
      .heartIcon {
        fill: var(--flare);
      }
      h2 {
        font-weight: 200;

        margin-top: 32px;
        text-align: center;
        font-size: 2rem;
        @media only screen and (min-device-width: $tablet) {
          font-size: 3.5rem;
          margin-top: 0px;
        }
      }
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
      width: auto;
      margin: 0 auto;
      position: relative;
      color: var(--flare);
      span {
        color: var(--text-color);
      }
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--flare);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        visibility: visible;
        width: 100%;
        color: var(--flare);
      }
      &:visited {
        color: var(--flare);
      }
    }
  }
}
